h1{

    color: #6A9C89;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: #f7f4ea;
}

a{
    color: #CD5C08;
 font-family: Bitter, serif;
}
h2{
    color: #C1D8C3;
    font-family: Arial, Helvetica, sans-serif;
}
h4{
    color: #CD5C08;
    font-family: Arial, Helvetica, sans-serif;
}